/*
* Create Note Form
*/

#create-note {
  input,
  label {
    color: $main_color;
  }
  fieldset {
    border: 1px solid $main_color;
  }
  .Mui-error fieldset {
    border-color: #f44336;
  }
  .Mui-error {
    color: #f44336;
  }
}

#content-task {
  display: block;
  margin: 7px 0 14px;
  width: 100%;
}
