/*
* Variables colors and font
*/
@import './Variables';

/*
* CSS Reset and Normalize
*/
@import '../../node_modules/css-reset-and-normalize/scss/reset-and-normalize';

/*
* Css reset & font family
*/
body {
  font-family: $font_family;
  background: $main_background;
  color: $main_color;
  font-weight: 400;
  line-height: 1.45;
}

/*
* Typography
*/
@import './typography/Typography';

/*
* Active main
*/
@import './layout/ActiveMain';

/*
* Navigation
*/
@import './navigation/Navigation';

/*
* Create Note Form
*/
@import './form/CreateNoteForm';
