$font_family: roboto, Arial, Helvetica, sans-serif;

$main_color: #fefefe;
$gray_color: #808080;
$black_color: #212121;
$main_background: #282828;
$active_main: #1f1f1f;

// Massege
$success_color: #42b983;
$success_background: #c4ead9;
$tablet: 959px;
