/*
* Navigation
*/
nav {
  ul {
    list-style: none;
  }

  .nav-item {
    margin-bottom: 7px;
    position: relative;
    div {
      color: $main_color;
      text-decoration: none;
      cursor: pointer;

      span {
        position: absolute;
        top: 3px;
        left: 35px;
        width: 150px;
      }
    }
  }
}
