/*
* Navigation
*/
.menu {
  @at-root #{&}__list {
    list-style: none;
  }

  @at-root #{&}__item {
    margin-bottom: 7px;
    position: relative;
  }

  @at-root #{&}__item-container {
    color: $main_color;
    text-decoration: none;
    cursor: pointer;
  }

  @at-root #{&}__item-name {
    position: absolute;
    top: 3px;
    left: 35px;
    width: 150px;
  }
}
