/*
* Create Note Form
*/

.form {
  @at-root #{&}__title {
    background: $main_color;
    border-radius: 4px;
  }

  @at-root #{&}__desc {
    background: $main_color;
  }

  @at-root #{&}__desc.MuiFormControl-marginNormal {
    margin-top: 8px;
  }

  @at-root #{&}__reset {
    margin-left: 10px !important;
  }

  @at-root #{&}__message {
    border-radius: 3px;
    padding: 7px 15px;
    margin: 1em 0;
  }

  @at-root #{&}__message--success {
    background-color: $success_background;
    color: $success_color;
  }

  @at-root #{&}__mobile {
    display: none;
  }
}

@media only screen and (max-width: $tablet) {
  .form {
    @at-root #{&}__mobile {
      display: block;
    }
  }
}
