$main_color: #fefefe;
$main_background: #282828;
$active_main: #1f1f1f;

/*
* CSS Reset and Normalize
*/
@import '../node_modules/css-reset-and-normalize/scss/reset-and-normalize';

/*
* Css reset & font family
*/
body {
    font-family: roboto, Arial, Helvetica, sans-serif;
    background: $main_background;
    color: $main_color;
    padding: 0;
    margin: 0;
}

/*
* Active main
*/
.main {
    background: $active_main;
    height: 100vh;
}

/*
* Navigation
*/
nav {
    ul {
        list-style: none;
    }

    .nav-item a {
        color: $main_color;
        text-decoration: none;
    }
}